# App
DEBUG=false
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]

JWT_SECRET_KEY=9w3NQeTU8bXjGG61VF0ke7cLOcLuT7m0HDDTTBxUrX7

JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
JWT_GUEST_EXPIRE_MINUTES=43200

# Database
DATABASE_URL=postgresql+psycopg2://gis:gis@localhost:5432/gis_converter

# Redis / Celery
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# MinIO
MINIO_ENDPOINT=localhost:9000
# MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=gis-files
MINIO_SECURE=false
